repos:
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
        language_version: python3.11
        args: [--max-line-length=120]
        exclude: '(migrations)/.*|apps.py|settings.py|description.py'