.text-center {
  text-align: center;
}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-6 {
  margin-bottom: 6rem;
}