html {
  scroll-behavior: smooth;
}
body {
  background-color: #030305;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  max-width: 125rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.5rem;
  p {
    color: rgba(#fff, .8);
  }
}