/*!
 * Modern Reset CSS — 2025
 * https://github.com/AndyBell/modern-css-reset
 * Чаще всего считается лучшим балансом между сбросом и сохранением полезных стилей
*/

:where(html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video) {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
:where(article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section) {
  display: block;
}

:root {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

/* Box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default list styles */
ol, ul, menu {
  list-style: none;
}

/* Remove default quotes */
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Images */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* Form elements */
button, input, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Remove default fieldset border */
fieldset {
  border: none;
}

/* Inputs remove outline but preserve accessibility */
input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Misc */
table, hr {
  border: none;
}
